.u-section-1 .u-sheet-1 {
  min-height: 608px;
}

.u-section-1 .u-text-1 {
  margin: 40px 127px 0 247px;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 0 541px 0 247px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 276px;
  margin: 55px 269px 0 301px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 50px 435px 40px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 608px;
    margin-left: 147px;
    margin-right: 27px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 441px;
    margin-left: 147px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    width: 570px;
    margin-left: 201px;
    margin-right: 169px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 368px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 91px;
    margin-right: 59px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 188px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
  }
}